.cart-subtotal{
    display: flex;
    flex-direction: column;
    row-gap: .4em;
    margin: 7em 0 2em 0;
    background-color: rgba(248, 243, 243, 0.556);
}

.cart-subtotal .btn{
    color: green;
    border: solid 1px green;
}

.cart-subtotal .btn:hover{
    color: white;
    background-color: green;
}

h2{
    font-size: xx-large;
    font-weight: bolder;
}

@media screen and (min-width:992px) {
    h2{
        font-size: x-large;
    }
}

@media screen and (max-width:992px) {
    .cart-subtotal{
        width: 280px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}
