:root {
    --nav-bg: #cd9042;
  }

.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    padding: 5px;
}

.header img{
    width: 1.8em;
    margin: 14px 3px 12px 8px;
}


.header .home{
    text-decoration: none;
    color: white;
}

.header-logo{
    margin-left: 15px;
    margin-right: 8px;
    object-fit: contain;
}

#website-name{
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
}

.header-search{
    display: flex;
    margin: 0 8px 0 5px;
    flex: 1;
}

.header-search-input{
    height: 35px;
    padding: 10px;
    width: 100%;
    border: none;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.header-search:focus-within{
    outline: #f6a234 auto 1px;
}

.header-search-input:focus-visible{
    outline: none;
}

.header-search-icon{
    color: white;
    background-color: var(--nav-bg);
    padding:5px;
    font-size: 50px;
    height: 35px !important;
    width: 35px !important;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.header-links{
    display: flex;
    justify-content: space-evenly;
}

.header-link-items{
    display:flex;
    flex-direction: column;
    margin: 0 8px 0 8px;
    color:white;
}
    
.header-link{
    color:white;
    text-decoration: none;
}
.header-link:hover{
    color:rgb(236, 224, 224);
    text-decoration: none;
}

.item1{
    font-size: 13px;
}

.item2{
    font-size: 15px;
    font-weight: 800;
}

.header-cart{
    color:white;
    margin-right: 20px;
}

.cart-icon{
    height: 30px !important;
    width: 30px !important;
}

.header-cart .btn:hover{
    outline: solid 1px var(--nav-bg);
    border:none;
}

.header-cart .btn:not(:hover){
    border: none;
}
